* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.gr-titre {
    font-weight: bold;
    font-size: 50px;
    text-align: center;
    text-transform: uppercase;
}
.btn {
    text-align: center;
}
.scd-titre {
    font-weight: bold;
    font-size: 35px;
    text-transform: uppercase;
}
.facebook {
    color: blue;
}
.whatsapp {
    color: green;
}
.linkedin {
    color: blue;
}
.insta {
    color: red;
}
@media screen and (max-width: 500px) {
    .gr-titre {
        font-weight: bold;
        font-size: 25px;
        text-align: center;
        text-transform: uppercase;
    }
    .scd-titre {
        font-weight: bold;
        font-size: 20px;
        text-transform: uppercase;
    }
}